.special-li {
}

:root {
  --padding: 32px 16px;
  --font-size: 24px;
  --mix-mode: exclusion;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#scrollMe {
  background-color: blueviolet;
  mix-blend-mode: difference;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  height: 400px;
  overflow: scroll;
}

.placeholder {
  width: 50px;
  height: 800vh;
  /* background-color: rgb(33, 6, 58); */
  background: rgb(33, 6, 58)
    url(https://img.freepik.com/free-vector/abstract-organic-pattern-design-background_1048-19286.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1722470400&semt=sph);
  background-blend-mode: color-burn;
}

#scrollMe h2 {
  color: rgb(198, 156, 237);
  position: sticky;
  top: 0px;
}

#levels {
  background-color: blue;
  mix-blend-mode: var(--mix-mode);
  padding: var(--padding);
  font-size: var(--font-size);
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#level1 {
  background-color: pink;
  mix-blend-mode: var(--mix-mode);
  padding: var(--padding);
}

#level2 {
  background-color: bisque;
  mix-blend-mode: var(--mix-mode);
  padding: var(--padding);
}

#level3 {
  background-color: aqua;
  mix-blend-mode: var(--mix-mode);
  padding: var(--padding);
}

#siblingLevel {
  background-color: black;
  padding: var(--padding);
  font-size: var(--font-size);
  color: white;
}

#bathroom {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.25) 10% 50%,
      rgba(0, 0, 0, 0.5) 90%
    ),
    url(https://images.unsplash.com/photo-1714399727269-7883d5d66da2?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
      right bottom;
  padding: 16px;
  background-attachment: fixed;
}

#bathroom h2,
#bathroom p {
  /* color: white; */
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-AAD2jIQT0p1MirMajjcczk0yaNbZTFnTwA&s);
  -webkit-background-clip: text;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
}
